terraform-brocker ansible_ssh_host=XXXXXXXXXX
terraform-MQTT-sub ansible_ssh_host=XXXXXXXXXX

[all:vars]
ansible_ssh_private_key_file=~/.ssh/id_rsa_oci
ansible_ssh_user=opc

[terraform-brocker]
terraform-brocker

[terraform-MQTT-sub]
